<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matienzos Materazzi</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/64db13f2fb.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <!-- <div class="top-header">
            <i class="fas fa-bars"></i>
            <img src="/images/Matienzos.png" alt="logo-matienzos" class="logo-header">
            <div class="usuario">
                <div>
                    <i class="fas fa-user"></i><a href="/views/login.html">Logueate</a>
                </div>
                <div>
                    <i class="fas fa-address-card"></i><a href="/views/register.html">Registrate</a>
                </div>
            </div>
        </div>
        <div class="bottom-header">
            <nav>
                <ul class="nav-elements">
                    <li class="nav-element"><a href="#">Inicio</a></li>
                    <li class="nav-element"><a href="#">Productos</a></li>
                    <li class="nav-element"><a href="#">Ofertas</a></li>
                    <li class="nav-element"><a href="#">Sobre Nosotros</a></li>
                </ul>
            </nav>
        </div>
        <div class="search">
            <input type="text" class="searchTerm" placeholder="Que estas buscando?">
            <button type="submit" class="searchButton">
              <i class="fa fa-search"></i>
           </button>
         </div> -->

         <div class="desktop-header">
            <div class="top-bar">
                <div class="container">
                    <div class="table-row">
                        <div class="header-contact-box">
                            <ul class="list-inline">
                                <li>
                                    <span>112345678</span>
                                </li>
                                <li>
                                    <span>xxxxx@gmail.com</span>
                                </li>
                            </ul>
                        </div>
                        <div class="top-bar-right">
                            <ul class="list-inline">
                                <li class="customer-account">
                                    <a href="#">Registrate</a>
                                    <span>o</span>
                                    <a href="/login">Ingresa</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-main">
                <div class="container">
                    <div class="table-row">
                        <div class="header-menu-logo">
                            <div class="header-logo">
                                <a href="/">
                                <img src="images/matienzos.png" alt="logo matienzos">
                                </a>
                            </div>
                        </div>
                        <div class="header-search-menu">
                            <div class="searchbox">
                                <form action="/search" method="GET" class="navbar-formsearch">
                                    <input type="text" class="product-search" placeholder="Que estas buscando?">
                                    <button type="submit" class="search-icon">
                                        <span>
                                            <i class="fa fa-search"></i>                              
                                        </span>
                                      </button>
                                </form>
                            </div>
                        </div>
                        <div class="header-cart-menu">
                            <div class="cart-menu">
                                <a href="/views/product-cart.html">
                                    <i class="fas fa-shopping-cart"></i>
                                    <span>Tu carrito</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </header>

    <!-- <section class="banner">
        <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
    </section> -->

    <main>
        <section class="destacados">
            <h3>Productos Destacados</h3>
            <div class="productos-container">
                <article>
                    <img src="/images/mate.jpg" alt="mate1">
                    <div class="main-article">
                        <p class="price">$1.000</p>
                        <p class="discount">40% off</p>
                        <h4 class="description">Mate Negro</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/mate.jpg" alt="mate1">
                    <div class="main-article">
                        <p class="price">$1.000</p>
                        <p class="discount">40% off</p>
                        <h4 class="description">Mate Negro</h4>
                </article>
                <article>
                    <img src="/images/mate.jpg" alt="mate1">
                    <div class="main-article">
                        <p class="price">$1.000</p>
                        <p class="discount">40% off</p>
                        <h4 class="description">Mate Negro</h4>
                </article>
                <article>
                    <img src="/images/mate.jpg" alt="mate1">
                    <div class="main-article">
                        <p class="price">$1.000</p>
                        <p class="discount">40% off</p>
                        <h4 class="description">Mate Negro</h4>
                </article>
            </div>
        </section>

        <section class="ofertas">
            <h3>Ofertas de la Semana</h3>
            <div class="productos-container">
                <article>
                    <img src="/images/mate.jpg" alt="mate1">
                    <div class="main-article">
                        <p class="price">$1.000</p>
                        <p class="discount">40% off</p>
                        <h4 class="description">Mate Negro</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/mate.jpg" alt="mate1">
                    <div class="main-article">
                        <p class="price">$1.000</p>
                        <p class="discount">40% off</p>
                        <h4 class="description">Mate Negro</h4>
                </article>
                <article>
                    <img src="/images/mate.jpg" alt="mate1">
                    <div class="main-article">
                        <p class="price">$1.000</p>
                        <p class="discount">40% off</p>
                        <h4 class="description">Mate Negro</h4>
                </article>
                <article>
                    <img src="/images/mate.jpg" alt="mate1">
                    <div class="main-article">
                        <p class="price">$1.000</p>
                        <p class="discount">40% off</p>
                        <h4 class="description">Mate Negro</h4>
                </article>
            </div>
        </section>

        <section class="suscripcion">
            <!-- Insertar Forms de Suscripcion -->
        </section>

    </main>

    <footer>
        <div class="logo-footer">
            <img class="footer-logo" src="images/Matienzos.png" alt="logo-matienzos">
        </div>

        <div class="redes">
            <p>Facebook</p>
            <p>Instagram</p>
            <p>Twitter</p>
        </div>

        <div class="informacion">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum natus quas quaerat voluptatem cum
                similique officiis impedit at deserunt repellat, odit temporibus tenetur reiciendis cupiditate, qui
                dolorem beatae nobis in!</p>
        </div>
    </footer>
</body>

</html>