<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matienzos Materazzi</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <div class="top-header">
            <div class="logo-principal">
                <img src="images/Logo.jpg" alt="Logo Matienzos Materazzi">
            </div>
        </div>

        <nav>
            <ul>
                <li><a href="#">INICIO</a></li>
                <li><a href="#">PRODUCTOS</a></li>
                <li><a href="#">CONTACTO</a></li>
                <li><a href="#">SOBRE NOSOTROS</a></li>
            </ul>

            <ul>
                <li><a href="#">REGISTRATE</a></li>
                <li><a href="#">INGRESA</a></li>
            </ul>
        </nav>
    </header>

    <!-- <section class="banner">
        <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
    </section> -->

    <main>
        <section class="productos-destacados">
            <h3>Productos Destacados</h3>
            <div class="destacados">
                <article></article>
                <article></article>
                <article></article>
                <article></article>
            </div>
        </section>

        <section class="ofertas-de-la-semana">
            <h3>Ofertas de la Semana</h3>
            <div class="ofertas">
                <article></article>
                <article></article>
                <article></article>
                <article></article>
            </div>
        </section>

        <section class="suscripcion">
            <!-- Insertar Forms de Suscripcion -->
        </section>

    </main>

    <footer>
        <div class="redes">
            <p>Facebook</p>
            <p>Instagram</p>
            <p>Twitter</p>
        </div>

        <div class="logo-footer">
            <img src="images/LogoPng1.png" alt="logo-matienzos">
        </div>
    </footer>
</body>
</html>