<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Register</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/64db13f2fb.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="hero">
        <div class="form-box">
            <div class="button-box">
                <div id="btn"></div>
                <button type="button" class="toggle-btn" onclick="login()"> Acceder</button>
                <button type="button" class="toggle-btn" onclick="register()"> Registrarse</button>
            </div>
        
            <form id="login" class="input-group">
                <input type="text" class="input-field" placeholder="Usuario" required>
                <input type="text" class="input-field" placeholder="Contraseña" required>
                <input type="checkbox" class="check-box"><span class="spanlogin">Recordar Contraseña</span>
                <button type="submit" class="submit-btn">Acceder</button>
            </form>
            <form id="register" class="input-group">
                <input type="text" class="input-field" placeholder="Usuario" required>
                <input type="email" class="input-field" placeholder="Email ID" required>               
                <input type="text" class="input-field" placeholder="Contraseña" required>
                <input type="checkbox" class="check-box"><span>Acepto terminos y condiciones.</span>
                <button type="submit" class="submit-btn">Registrarse</button>
            </form>
        </div>
    </div>

    <script>
        var x= document.getElementById("login");
        var y= document.getElementById("register");
        var z= document.getElementById("btn");

        function register(){
            x.style.left = "-400px";
            y.style.left = "50px";
            z.style.left = "110px";
        }

        function login(){
            x.style.left = "50px";
            y.style.left = "450px";
            z.style.left = "0px";
        }


    </script>

</body>
</html>