<!DOCTYPE html>
<html lang="en">


    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Matienzos Materazzi</title>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/64db13f2fb.js" crossorigin="anonymous"></script>
    </head>
    
    <body>
        <header>
            <div class="mobile-header">
                <div class="container">
                    <div class="mobile-header-logo">
                        <img src="/images/Matienzos.png" alt="logo-matienzos" class="logo-header">
                    </div>
                    <div class="table-row">
                        <div class="hamburguer-menu">
                            <i class="fas fa-bars"></i>
                        </div>
                        <div class="usuario-container">
                            <div class="login-menu">
                                <i class="fas fa-user"></i><a href="/views/login.html">Logueate</a>
                                <i class="fas fa-address-card"></i><a href="/views/login.html">Registrate</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="desktop-header">
                <div class="top-bar">
                    <div class="container">
                        <div class="table-row">
                            <div class="header-contact-box">
                                <ul class="list-inline">
                                    <li>
                                        <span>112345678</span>
                                    </li>
                                    <li>
                                        <span>xxxxx@gmail.com</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="top-bar-right">
                                <ul class="list-inline">
                                    <li class="customer-account">
                                        <a href="/login">Registrate</a>
                                        <span>o</span>
                                        <a href="/login">Ingresa</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-main">
                    <div class="container">
                        <div class="table-row">
                            <div class="header-menu-logo">
                                <div class="header-logo">
                                    <a href="/">
                                    <img src="images/matienzos.png" alt="logo matienzos">
                                    </a>
                                </div>
                            </div>
                            <div class="header-search-menu">
                                <div class="searchbox">
                                    <form action="/search" method="GET" class="navbar-formsearch">
                                        <input type="text" class="product-search" placeholder="Que estas buscando?">
                                        <button type="submit" class="search-icon">
                                            <span>
                                                <i class="fa fa-search"></i>                              
                                            </span>
                                          </button>
                                    </form>
                                </div>
                            </div>
                            <div class="header-cart-menu">
                                <div class="cart-menu">
                                    <a href="/product-cart">
                                        <i class="fas fa-shopping-cart"></i>
                                        <span>Tu carrito</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </header>
        </header>
    

    <!-- <section class="banner">
        <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
    </section> -->

    <main>

        <!-- product details-->

        <div class="small-container single-product">
            <div class="row">
                <div class="col-2">
                    <img src="images/mate.jpg" width="100%">
                    
                    <div class="small-img-row">
                    <div class="small-img-col">
                    <img src="images/mate.jpg" width="100%">
                    </div>
                    <div class="small-img-col">
                    <img src="images/mate1.jpg" width="100%">
                    </div>
                    <div class="small-img-col">
                    <img src="images/mate1.jpg" width="100%">
                    </div>
                    <div class="small-img-col">
                    <img src="images/mate.jpg" width="100%">
                    </div>
                 </div>
            </div>
                <div class="col-2">
                    <p>Home / Mate</p>
                    <h1> Mate Negro</h1>
                    <h4>$1000.00</h4>
                    <p> Hay en stock</p>
                    <br>
                    <p> Seleccionar cantidad</p>
                    <input type="number" value="1">
                    <a href="" class="btn"> Agregar al carro</a>
                    
                    <h3> Detalles del producto</h3>
                    <p> Un mate negro de alta calidad para disfrutar unos buenos mates calentitos</p>
                    
                </div>  
            </div>
        </div>

        <section class="ofertas">
            <h3>Productos relacionados</h3>
            <div class="productos-container">
                <article>
                    <img src="/images/mate.jpg" alt="mate1">
                    <div class="main-article">
                        <p class="price">$1.000</p>
                        <p class="discount">40% off</p>
                        <h4 class="description">Mate Negro</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/mate.jpg" alt="mate1">
                    <div class="main-article">
                        <p class="price">$1.000</p>
                        <p class="discount">40% off</p>
                        <h4 class="description">Mate Negro</h4>
                </article>
                <article>
                    <img src="/images/mate.jpg" alt="mate1">
                    <div class="main-article">
                        <p class="price">$1.000</p>
                        <p class="discount">40% off</p>
                        <h4 class="description">Mate Negro</h4>
                </article>
                <article>
                    <img src="/images/mate.jpg" alt="mate1">
                    <div class="main-article">
                        <p class="price">$1.000</p>
                        <p class="discount">40% off</p>
                        <h4 class="description">Mate Negro</h4>
                </article>
            </div>
        </section>

        <section class="suscripcion">
            <!-- Insertar Forms de Suscripcion -->
        </section>

    </main>

    <footer>
        <div class="logo-footer">
            <img class="footer-logo" src="images/Matienzos.png" alt="logo-matienzos">
        </div>

        <div class="redes">
            <p>Facebook</p>
            <p>Instagram</p>
            <p>Twitter</p>
        </div>

        <div class="informacion">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum natus quas quaerat voluptatem cum
                similique officiis impedit at deserunt repellat, odit temporibus tenetur reiciendis cupiditate, qui
                dolorem beatae nobis in!</p>
        </div>
    </footer>


</body>

</html>