/* GENERAL */
*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-family: muli, sans-serif !important;
    background-color: #FFFFFF;
}

main{
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/* HEADER */
.main-logo {
    text-align: center;
}

.main-logo img{
    max-width: 250px;
    width: 90%;
}

.top-header {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    width: 100%;
    flex-direction: row;
}


.hamburger-search {
    display: flex;
    flex-wrap: nowrap;
}

.hamburger-search i {
    padding: 5px;
    font-size: 20px;
}

.anuncios {
    display: flex;
    align-items: center;
    max-height: 35px;
    justify-content: center;
    background-color: #000000;
    text-align: center;
    padding: 5px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.bottom-header {
    display: none;
}

.login-menu {
    display: flex;
    text-align: center;
    flex-direction: row;
}

.login-menu div {
    padding: 8px;
}

.login-menu i {
    font-size: 20px;
}

.search-button {
    display: none;
}

.search-form-container {
    display: none;
}


/* MAIN */

main div {
    padding-bottom: 20px;
}

section .titulo-section {
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid black;
    padding: 5px;
}

/* BANNER TRIPLE */

.triple-banner {
    display: inline;
    margin: 20px auto;
    height: auto;
}

.items-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sector-banner {
    padding: 1px;
    overflow: hidden;
}

.sector-banner img {
    transition: transform .5s, filter 1s ease-in-out;
    filter: grayscale(100%);
}

.sector-banner:hover img {
    filter: grayscale(0);
    transform: scale(1.1);
}

.items-3 img {
    min-width: 150px;
    max-width: 372px;
    width: 100%;
}

/* PRODUCTOS */
.titulo-section {
    margin-bottom: 10px;
}

.producto {
    padding: 5px;
}

.producto-image {
    float: right;
    height: auto;
}

.producto-image img {
    width: 100%;
}

main section div.productos-container article{
    cursor: pointer;
    transition: 0.5s;
}

article div.producto-footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 10px 2px;
    
}

.title-meta {
    color: rgb(133, 133, 133);
    font-weight: lighter;
}

h2.title {
    display: block;
    width: 100%;
    text-transform: uppercase;

}

/* FOOTER */
.subscribe {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background-color: #e7e7e7 ;
    width: 100%;
}

.subscribe-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.subscribe-title {
    width: 100%;
    max-width: 70%;
    text-align: center;
    margin-bottom: 36px;
    font-size: 21px;
}

.form form{
    width: 100%;
    margin: 0px auto !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input[type='email'] {
    width: 200px;
    min-width: 100px;
    padding: 10px;
    font-size: 14px;
}

button[type='submit'] {
    background-color: #000000;
    color: #FFFFFF;
    font-size: 14px;
    padding: 12px;
    margin-left: 1px;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;
}

.text-danger {
    text-align: left; 
    font-size: 14px; 
    color: #dc3545; 
    padding-top: 2px;
}

.is-invalid {
    border-color: #dc3545!important;
    box-shadow: none;
}

.edit-list-button, .delete-list-button, #dlb {
    background-color: #000000;
    color: #FFFFFF;
    font-size: 11px;
    padding: 12px;
    margin-left: 1px;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;
    width: 140px;
    height: 35px; 
}

.edit-list-button {
    margin-bottom: 2px;
}

button[type='submit']:hover{
    background-color: tomato;
}

.container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}

.container-footer .elements-container {
    width: 92%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    min-width: auto;
    max-width: 1430px;
}

.footer-element {
    width: auto;
}

.footer-element .list-item {
    padding: 3px 0;
}

.list-item a {
    font-size: 14px;
    color: #666;
}

.footer-element .title {
    margin: 10px 0;
}

.footer-element .title h2 {
    font-size: 18px;
}

.social-items {
    display: flex;
    flex-wrap: wrap;
}

.social-item {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-item i {
    font-size: 20px;
    color: black;
}

.subfooter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    border-top: 1px solid black;
}

a:hover {
    color: tomato;
}

a {
    transition: 0.5s;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    transition: 0.5s;
}

i:hover {
    color: tomato;
}

i, .search-button, user-button, cart-button {
    transition: 0.5s;
    cursor: pointer;
}

article:hover .producto-footer .title {
    color: tomato;
}

.producto-footer .title {
    transition: 0.5;
    overflow: hidden;
    max-height: 38px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

/* LOG IN / REGISTER */

.customer-login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding-top: 15px ;
    width: 80%;
    margin: auto;
    margin-bottom: 15px;
    padding-bottom: 0px;
}

.wrap-around label {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}

.field {
    position: relative;
    display: inline-block;
    padding: 5px;
    font-size: 14px;
    line-height: 1.5;
    /* color: #000000; */
    text-align: left;
    cursor: pointer;
    font-weight: 400;
    width: 100%;
}

.login-button {
    display: block;
    margin-bottom: 15px;
    width: 100%;
}

.login-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
}

.account-form {
    text-align: center;
    width: 80%;
    padding: 5px;
}

.new-customer  {
    text-align: center;
}

.new-customer div {
    padding-bottom: 5px;
}

/* DETALLE PRODUCTO */

.product-detail-container {
    margin: auto;
}

.product-details {
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.options {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 32px 0 22px;
    }

.option-header {
    font-weight: 600;
    font-size: 14px;
}

.option-value {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    margin-bottom: 14px;
}

.option-values {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 12px;
}

.option-value-name {
    position: relative;
    z-index: 1;
    min-width: 46px;
    padding: 11px 12px;
    text-align: center;
    border: 1px solid #000000;
    transition: background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.15s cubic-bezier(0.4, 0, 0.2, 1), color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.option-value-input:checked + .option-value-name {
    color: #ffffff;
    background-color: #000000;
    border-color: #d9d9d9;
}

.option-value-input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;   
}

.product-quantity-input {
    display: block;
    width: 55px;
    height: 50px;
    margin-bottom: 12px;
    text-align: center;
    border: 1px solid #000000;
}

.product-submit {
    width: 100%;
    margin-top: 29px;
    margin-right: auto;
    margin-bottom: 18px;
    margin-left: auto;
    line-height: 1;
    padding: 15px 24px;
    font-style: normal;
    font-weight: 400;
    position: relative;
    display: inline-block;
    padding: 10px 18px;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.08em;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 0;
    transition: 0.15s cubic-bezier(0.4, 0, 0.2, 1) background-color, 0.15s cubic-bezier(0.4, 0, 0.2, 1) border-color;
    appearance: button;
}

.product-list {   
    margin: auto;
    text-align: center;
    
}

.product-list h3 {
    margin-top: 5px;
}

#tablePL {
    margin: auto;
    margin-top: 30px;
    width: 35%;
    border: 1px solid black;
    border-collapse: collapse;
}


#product-list-tr {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;    
}

#product-list-th {
    background-color: black;
    text-align: center;
    width: 100%;  
    border: 1px solid black;   
}

#product-list-th-id {
    background-color: black;
    width: 25%;
    text-align: center;
}

#product-list-td { 
    border: 1px solid black;
}


.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
}

.product-gallery {
    flex-basis: 50%;
}

.product-gallery img {
    max-width: 100%;
}

.product-details {
    flex-basis: 50%;
}

.header-product-details {
    border-bottom: 1px solid black;
    padding-bottom: 3px;
    margin-top: 5px;
}

.header-product-details h2 {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 28px;
}

.product-details-price {
    font-weight: bold;
    align-items: flex-end;
    padding-bottom: 3px;
}

.options {
    width: 100%;
}

.options form {
    width: 100%;
    max-width: 100%;
}

/* CARRITO CSS */

.small-container {
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    box-shadow: 0px 0px 3px rgb(100, 100, 100);
}

.cart-page {
    margin: 60px auto;
}

.cart-table {
    width: 100%;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th{
    text-align: left;
    padding: 5px;
    color: #FFFFFF;
    background: #333;
    font-weight: normal;
}

td{
    padding: 10px 5px;
}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a{
    color: #666;
    font-size: 12px;
}

td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price{
    display: flex;
    justify-content: flex-end;
}

.total-price table{
    border-top: 3px solid #333;
    width: 100%;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}

/* PANEL */
.product-creation {
    display: flex;
    justify-content: center;
    text-align: center;
}
.product-creation-container {
    padding-top: 15px ;
    width: 70%;
    margin-bottom: 15px;
    padding-bottom: 0px;
}

.header-panel {
    background-color: #333;
    text-align: center;
    padding: 10px;
    color: white;
    border-bottom: 3px solid black ;
}

.descripcion input {
    height: 80px;
    line-height: 80px;
}

.create-button {
    display: block;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    width: 45%;
    height: 30%;
    top: 35%;
    right: 50%;
    position: absolute;
    line-height: 1.5;
    letter-spacing: 0.08em;
}

.edit-button {
    display: block;
    font-size: 60px;
    margin-bottom: 15px;
    position: absolute;
    width: 45%;
    height: 30%;
    top: 35%;
    left: 50%;
    line-height: 1.5;
    letter-spacing: 0.08em;
}

.create-edit-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    margin-top: 29px;
}

/* Not found */
.not-found-container {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.not-found {
    font-size: 40px;
}

/* Profile */

.profile-avatar {
    border-radius: 50%;
}

.field-profile{
    position: relative;
    display: inline-block;
    padding: 5px;
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
    cursor: pointer;
    font-weight: 400;
    width: 100%;
    border: 1px solid black;
}

.banner-index{
    display: none;
}

@media (min-width: 361px)  {
    main section div.productos-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .productos-container article {
        width: 45%;
    }

    input[type='email'] {
        width: 300px;
        min-width: 100px;
        padding: 10px;
        font-size: 14px;
    }
}

@media (min-width: 768px)  {
    .productos-container article {
        width: 22%;
    }

    .banner {
        margin-top: 0;
        display: block;
        cursor: pointer;
    }
    
    .banner-img-elements {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        max-width: 1430px;
        margin: 0px auto;
    }
    
    .banner-img-elements img {
        width: 100%;
    }

    .row {
        flex-direction: row;
    }

    .search-button {
        display: block;
    }

    .hamburger-search {
        display: none;
    }

    .container-footer .elements-container {
        flex-direction: row;
        min-width: 690px;
    }

    .footer-element {
        width: auto;
        padding: 10px 25px;
        flex-grow: 1;
    }
    
    .items-3 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: baseline;
    }

    input[type='email'] {
        width: 400px;
    }

    .bottom-header {
        display: block;
        margin-bottom: 15px;
    }

    nav ul {
        padding: 0;
        margin: 0;
        list-style: none;
        text-decoration: none;
        display: flex;
        justify-content: space-around;
        background: #333;
    }

    .nav-item a{
        color: white;
        display: block;
        text-decoration: none;
        padding: 0.7em 1em;
        font-size: 12px;
    }

    nav li a:hover {
        background: tomato;
        color: white;
    }

    .anuncios {
        margin-bottom: 0px;
    }

    .producto:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .customer-login-container {
        width: 60%;
    }

    .search-form-container {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
    }

    .search-form-container form {
        background: white;
        box-sizing: border-box;
        border: 2px solid white;
        padding: 5px;
    }

    .search-form-container input {
        width: 80%;
        height: 30px;
        line-height: 25px;
        font-size: 14px;
        padding: 0 10px;
        border: none;
        border-bottom: 1px solid rgb(187, 187, 187);
    }

    .search-form {
        width: 400px;
        text-align: center;
        margin: 0 auto;
    }

    .product-detail-container {
        margin: auto;
        width: 80%;
    }
    
    .talles {
        width: 50%;
    }
}

@media (min-width: 1199px) {
    .small-container {
        width: 70%;
    }

    input[type='email'] {
        width: 600px;
    }

    .customer-login-container {
        width: 40%;
    }

    .search-form {
        width: 500px;
        text-align: center;
        margin: 0 auto;
    }
}

