/* GENERAL */
*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-family: muli, sans-serif !important;
    background-color: #FFFFFF;
}

main{
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/* HEADER */
.main-logo {
    text-align: center;
}

.main-logo img{
    max-width: 250px;
    width: 90%;
}

.top-header {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    width: 100%;
    flex-direction: row;
}


.hamburger-search {
    display: flex;
    flex-wrap: nowrap;
}

.hamburger-search i {
    padding: 5px;
    font-size: 20px;
}

.anuncios {
    display: flex;
    align-items: center;
    max-height: 35px;
    justify-content: center;
    background-color: #000000;
    text-align: center;
    padding: 5px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.bottom-header {
    display: none;
}

.login-menu {
    display: flex;
    text-align: center;
    flex-direction: row;
}

.login-menu div {
    padding: 8px;
}

.login-menu i {
    font-size: 20px;
}

.search-button {
    display: none;
}

.search-form-container {
    display: none;
}


/* MAIN */

main div {
    padding-bottom: 20px;
}

section .titulo-section {
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid black;
    padding: 5px;
}


/* BANNER */
.banner {
    margin-top: 0;
    display: block;
    cursor: pointer;
}

.banner-img-elements {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    max-width: 1430px;
    margin: 0px auto;
}

.banner-img-elements img {
    width: 100%;
}

/* BANNER TRIPLE */

.triple-banner {
    display: inline;
    margin: 20px auto;
    height: auto;
}

.items-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sector-banner {
    padding: 1px;
    overflow: hidden;
}

.sector-banner img {
    transition: transform .5s, filter 1s ease-in-out;
    filter: grayscale(100%);
}

.sector-banner:hover img {
    filter: grayscale(0);
    transform: scale(1.1);
}

.items-3 img {
    min-width: 150px;
    max-width: 372px;
    width: 100%;
}

/* PRODUCTOS */
.titulo-section {
    margin-bottom: 10px;
}

.producto {
    padding: 5px;
}

.producto-image {
    float: right;
    height: auto;
}

.producto-image img {
    width: 100%;
}

main section div.productos-container article{
    cursor: pointer;
    transition: 0.5s;
}

article div.producto-footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 10px 2px;
    
}

.title-meta {
    color: rgb(133, 133, 133);
    font-weight: lighter;
}

h2.title {
    display: block;
    width: 100%;
}

/* FOOTER */
.subscribe {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background-color: #e7e7e7 ;
    width: 100%;
}

.subscribe-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.subscribe-title {
    width: 100%;
    max-width: 70%;
    text-align: center;
    margin-bottom: 36px;
    font-size: 21px;
}

.form form{
    width: 100%;
    margin: 0px auto !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input[type='email'] {
    width: 200px;
    min-width: 100px;
    padding: 10px;
    font-size: 14px;
}

button[type='submit'] {
    background-color: #000000;
    color: #FFFFFF;
    font-size: 14px;
    padding: 12px;
    margin-left: 1px;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;
}

button[type='submit']:hover{
    background-color: tomato;
}

.container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}

.container-footer .elements-container {
    width: 92%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    min-width: auto;
    max-width: 1430px;
}

.footer-element {
    width: auto;
}

.footer-element .list-item {
    padding: 3px 0;
}

.list-item a {
    font-size: 14px;
    color: #666;
}

.footer-element .title {
    margin: 10px 0;
}

.footer-element .title h2 {
    font-size: 18px;
}

.social-items {
    display: flex;
    flex-wrap: wrap;
}

.social-item {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-item i {
    font-size: 20px;
    color: black;
}

.subfooter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    border-top: 1px solid black;
}

a:hover {
    color: tomato;
}

a {
    transition: 0.5s;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    transition: 0.5s;
}

i:hover {
    color: tomato;
}

i, .search-button, user-button, cart-button {
    transition: 0.5s;
    cursor: pointer;
}

article:hover .producto-footer .title {
    color: tomato;
}

.producto-footer .title {
    transition: 0.5;
    overflow: hidden;
    max-height: 38px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

/* LOG IN / REGISTER */


.customer-login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding-top: 15px ;
    width: 80%;
    margin: auto;
    margin-bottom: 15px;
    padding-bottom: 0px;
}

.wrap-around label {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}

.field {
    position: relative;
    display: inline-block;
    padding: 5px;
    font-size: 14px;
    line-height: 1.5;
    color: #000000;
    text-align: left;
    cursor: pointer;
    font-weight: 400;
    width: 100%;
}

.login-button {
    display: block;
    margin-bottom: 15px;
    width: 100%;
}

.login-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
}

.account-form {
    text-align: center;
    width: 80%;
    padding: 5px;
}

.new-customer  {
    text-align: center;
}

.new-customer div {
    padding-bottom: 5px;
}


@media (min-width: 480px)  {
    main section div.productos-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .productos-container article {
        width: 45%;
    }

    input[type='email'] {
        width: 300px;
        min-width: 100px;
        padding: 10px;
        font-size: 14px;
    }
}

@media (min-width: 768px)  {
    .productos-container article {
        width: 22%;
    }

    .search-button {
        display: block;
    }

    .hamburger-search {
        display: none;
    }

    .container-footer .elements-container {
        flex-direction: row;
        min-width: 690px;
    }

    .footer-element {
        width: auto;
        padding: 10px 25px;
        flex-grow: 1;
    }
    
    .items-3 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: baseline;
    }

    input[type='email'] {
        width: 400px;
    }

    .bottom-header {
        display: block;
        margin-bottom: 15px;
    }

    nav ul {
        padding: 0;
        margin: 0;
        list-style: none;
        text-decoration: none;
        display: flex;
        justify-content: space-around;
        background: #333;
    }

    .nav-item a{
        color: white;
        display: block;
        text-decoration: none;
        padding: 0.7em 1em;
        font-size: 12px;
    }

    nav li a:hover {
        background: tomato;
        color: white;
    }

    .anuncios {
        margin-bottom: 0px;
    }

    .producto:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .customer-login-container {
        width: 60%;
    }

    .search-form-container {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
    }

    .search-form-container form {
        background: white;
        box-sizing: border-box;
        border: 2px solid white;
        padding: 5px;
    }

    .search-form-container input {
        width: 80%;
        height: 30px;
        line-height: 25px;
        font-size: 14px;
        padding: 0 10px;
        border: none;
        border-bottom: 1px solid rgb(187, 187, 187);
    }

    .search-form {
        width: 400px;
        text-align: center;
        margin: 0 auto;
    }
}

@media (min-width: 1199px) {
    input[type='email'] {
        width: 600px;
    }

    .customer-login-container {
        width: 40%;
    }

    .search-form {
        width: 500px;
        text-align: center;
        margin: 0 auto;
    }
}

