<%- include('./partials/head')  %>

<body>
    <%- include('./partials/header')  %>
    <main>
        <div class="not-found-container">
            <div class="not-found-title">
                <h1 class="not-found">Págína en construcción</h1>
                
            </div>
            <div class="not-found-image">
                <img src="/images/404.png" alt="broken-skateboard">
                <h2>La pagina que estas buscando se encuentra bajo desarrollo.</h2>
            </div>
        </div>
    </main>
    <%- include('./partials/footer')  %>
</body>
</html>