<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %> 
    <main>
        <div class="banner-container">
            <section class="banner">
                <div class="banner-img-elements">
                    <img src="images/banner.jpg" alt="banner">
                </div>
            </section>
        </div>

        <section class="new-arrivals">
            <h3 class="titulo-section">ULTIMOS INGRESOS</h3>
            <div class="productos-container">
                <article class="producto">
                    <div class="producto-image">
                        <a href="/product/product-detail"><img src="/images/vansNewEra.jpg" alt="new-era"></a>
                    </div>
                    <div class="producto-footer">
                        <h2 class="title">VANS NEW ERA</h2>
                        <span class="title-meta">
                            <span class="title-price">AR$5,500.00</span>
                        </span>
                    </div>
                </article>

                <article class="producto">
                    <div class="producto-image">
                        <a href="/product/product-detail"><img src="/images/ruedaRosa.jpeg" alt="rueda-rosa"></a>
                    </div>
                    <div class="producto-footer">
                        <h2 class="title">RUEDA ROSA</h2>
                        <span class="title-meta">
                            <span class="title-price">AR$2,500.00</span>
                        <span>
                    </div>
                </article>

                <article class="producto">
                    <div class="producto-image">
                        <a href="/product/product-detail"><img src="/images/giovanni.jpg" alt="giovanni-board"></a>
                    </div>
                    <div class="producto-footer">
                        <h2 class="title">GIOVANNI VIANNA PRO TAMARIN DECK - 8.25</h2>
                        <span class="title-meta">
                            <span class="title-price">AR$6,300.00</span>
                        </span>
                    </div>
                </article>

                <article class="producto">
                    <div class="producto-image">
                        <a href="/product/product-detail"><img src="/images/thruthood.jpg" alt="thrut-hood"></a>
                    </div>
                    <div class="producto-footer">
                        <h2 class="title">TRUTH HOOD</h2>
                        <span class="title-meta">
                            <span class="title-price">AR$‌7,350.00</span>
                        </span>
                    </div>
                </article>
            </div>
        </section>

        <section class="triple-banner">
            <div class="listSimple">
                <div class="items-3">
                    <div class="sector-banner img1"><a href="#"><img src="images/triple-banner1.jpg" alt=""></a></div>
                    <div class="sector-banner img2"><a href="#"><img src="images/triple-banner2.jpg" alt=""></a></div>
                    <div class="sector-banner img3"><a href="#"><img src="images/triple-banner3.jpg" alt=""></a></div>
                </div>
            </div>
        </section>

        <section class="on-your-last-visit">
            <h3 class="titulo-section">BASADOS EN TU ULTIMA VISITA</h3>
            <div class="productos-container">
                <article class="producto">
                    <div class="producto-image">
                        <a href="/product/product-detail"><img src="/images/vansNewEra.jpg" alt="new-era"></a>
                    </div>
                    <div class="producto-footer">
                        <h2 class="title">VANS NEW ERA</h2>
                        <span class="title-meta">
                            <span class="title-price">AR$5,500.00</span>
                        </span>
                    </div>
                </article>

                <article class="producto">
                    <div class="producto-image">
                        <a href="/product/product-detail"><img src="/images/ruedaRosa.jpeg" alt="rueda-rosa"></a>
                    </div>
                    <div class="producto-footer">
                        <h2 class="title">RUEDA ROSA</h2>
                        <span class="title-meta">
                            <span class="title-price">AR$2,500.00</span>
                        <span>
                    </div>
                </article>

                <article class="producto">
                    <div class="producto-image">
                        <a href="/product/product-detail"><img src="/images/giovanni.jpg" alt="giovanni-board"></a>
                    </div>
                    <div class="producto-footer">
                        <h2 class="title">GIOVANNI VIANNA PRO TAMARIN DECK - 8.25</h2>
                        <span class="title-meta">
                            <span class="title-price">AR$6,300.00</span>
                        </span>
                    </div>
                </article>

                <article class="producto">
                    <div class="producto-image">
                        <a href="/product/product-detail"><img src="/images/thruthood.jpg" alt="thrut-hood"></a>
                    </div>
                    <div class="producto-footer">
                        <h2 class="title">TRUTH HOOD</h2>
                        <span class="title-meta">
                            <span class="title-price">AR$‌7,350.00</span>
                        </span>
                    </div>
                </article>
            </div>
        </section>
    </main>

    <%- include('./partials/footer')  %> 
    
</body>

</html>