<%- include('./partials/head')  %>
<body>
    <header class="header-panel">
        <div><h2>REFACTOR SKATEBOARDING</h2></div>
        <div class="page-title">
            <h3>BIENVENIDO AL PANEL DE ADMINISTRACION DE PRODUCTO</h3>
        </div>
    </header>
    <main>
        <div class="create-edit-button-container">
            <button type="submit" class="create-button">CREAR PRODUCTO</button>
            <button type="submit" class="edit-button">EDITAR PRODUCTO</button>
        </div>
    </div>         

    </main>
</body>
</html>
 