<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %> 
    <main>
        <div class="product-area">
            <div class="product-gallery">
                <img src="/images/giovanni.jpg" alt="giovanni-board">
            </div>
        </div>
    </main>
    <%- include('./partials/footer')  %> 
</body>
</html>