<%- include('./partials/head')  %>

<body>
<<<<<<< HEAD
    <%- include('./partials/header')  %>
    <main>
        <div class="small-container cart-page">
            <table>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                </tr>
                <tr>
                    <td>
                        <div class="cart-info">
                            <img src="">
                            <div>
                                <p>La Tablita Del Colo Giovanni</p>
                                <small>Precio: mucha plata</small>
                                <br>
                                <br>
                                <a href=""> Remover </a>" </div> </div> </td> <td><input type="nmumber" value="1">
                    </td>
                    <td> $6.300</td>
                </tr>

            </table>
        </div>
    </main>
    <%- include('./partials/footer')  %>
=======
    <h1>Welcome to cart</h1>
>>>>>>> 5a5999859c931ae5b8b415a9e031591bc2617fc4
</body>

</html>