<!-- FOOTER -->

<footer>
    <section class="subscribe">
        <div class="subscribe-container">
            <div class="subscribe-title">
                <h2>¡SUSCRIBITE PARA RECIBIR NUESTRAS NOVEDADES Y NUESTROS DESCUENTOS!</h2>
            </div>
            <div class="form">
                <form action="/" method="GET">
                    <div class="email">
                        <input type="email" name="email" id="email" placeholder="Email">
                    </div>
                    <div class="submit-button">
                        <button type="submit">SUSCRIBITE</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <div class="container-footer">
        <div class="elements-container">
            <div class="footer-element footer-info">
                <div class="title">
                    <h2>INFO</h2>
                </div>
                <div class="list-items">
                    <div class="list-item"><a href="/enConstruction">FAQ</a></div>
                    <div class="list-item"><a href="/guiaTablas">GUIA DE TABLAS</a></div>
                    <div class="list-item"><a href="/guiaTalles">GUIA DE TALLES</a></div>
                </div>
            </div>
            <div class="footer-element footer-store">
                <div class="title">
                    <h2>STORE</h2>
                </div>
                <div class="list-items">
                    <div class="list-item"><a href="/encontranos">LOCALIZACION</a></div>
                    <div class="list-item"><a href="/enConstruction">CONTACTANOS</a></div>
                    <div class="list-item"><a href="/enConstruction">TERMINOS DE USO</a></div>
                </div>
            </div>
            <div class="footer-element footer-company">
                <div class="title">
                    <h2>COMPANY</h2>
                </div>
                <div class="list-items">
                    <div class="list-item"><a href="/enConstruction">POLITICAS DE ENVIOS</a></div>
                    <div class="list-item"><a href="/enConstruction">POLITICAS DE RETORNO</a></div>
                    <div class="list-item"><a href="/enConstruction">POLITICAS DE PRIVACIDAD</a></div>
                </div>
            </div>
            <div class="footer-element footer-connect">
                <div class="title">
                    <h2>CONECTA CON NOSTROS</h2>
                </div>
                <span>
                    <p>@REFACTORSK8</p>
                    <ul class="social-items">
                        <li class="social-item"><a href="https://www.youtube.com/user/ripcurl"><i class="fab fa-youtube"></i></a></li>
                        <li class="social-item"><a href="https://www.facebook.com/ripcurlargentina/?brand_redir=127130787367"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="social-item"><a href="https://twitter.com/ripcurlarg"><i class="fab fa-twitter"></i></a></li>
                        <li class="social-item"><a href="https://www.instagram.com/ripcurl_usa/?hl=es"><i class="fab fa-instagram"></i></a></li>
                        <li class="social-item"><a href="/enConstruction"><i class="far fa-envelope"></i></a></li>
                    </ul>
                </span>
            </div>
        </div>
    </div>
    <div class="subfooter">
        <div class="copyright">
            <h2>© 2021 REFACTOR SKATEBOARDING</h2>
        </div>
    </div>
</footer>