<!-- HEADER -->

<header>
    <div class="main-header">
        <div class="top-header">
            <div class="hamburger-search">
                <i class="fas fa-bars"></i>
                <i class="fas fa-search"></i>
            </div>

            <div class="main-logo">
                <a href="/"><img src="images/refactorlogo.jpg" alt="refactorlogo"></a>
            </div>

            <div class="usuario">
                <div class="login-menu">
                    <div class="search-button"><i class="fas fa-search"></i></div>
                    <div class="user-button"><a href="/login"><i class="fas fa-user"></i></a></div>
                    <div class="cart-button"><i class="fas fa-shopping-cart"></i></div>
                </div>
            </div>
        </div>
    </div>

    <div class="anuncios">
        <h3 class="anuncio">Envio gratis en compras mayores a $4.500,-</h3>
    </div>

    <div class="bottom-header">
        <div class="navigation">
            <nav class="desktop-nav">
                <ul class="nav-list">
                    <li class="nav-item"><a href="#">PRODUCTOS</a></li>
                    <li class="nav-item"><a href="#">OFERTAS</a></li>
                    <li class="nav-item"><a href="#">CATEGORIAS</a></li>
                    <li class="nav-item"><a href="#">SOBRE NOSOTROS</a></li>
                    <li class="nav-item"><a href="#">TEAM</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>