<%- include('../partials/head')  %>
<body>
    <%- include('../partials/header') %>
    <header class="header-panel">
        <div><h2>REFACTOR SKATEBOARDING</h2></div>
        <div class="page-title">
            <h3>BIENVENIDO AL PANEL DE ADMINISTRACION DE PRODUCTO</h3>
        </div>
    </header>
    <main>
        <div class="create-edit-button-container">
            <a href="/product/product-create-form"><button type="submit" class="create-button">CREAR PRODUCTO</button></a>
            <a href="/product/product-edit-list"><button type="submit" class="edit-button">EDITAR PRODUCTO</button></a>
        </div>
    </div>         

    </main>
</body>
</html>
 