<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <figure>
      <img src="/img/refactorlogo.jpg" alt="Logo Refactor Skateboarding">
    </figure>
    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>
    <p><a href="/product">Listado de Productos</a></p>
    <p><a href="/user">Listado de Usuarios</a></p>
  </body>
</html>
