<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Productos</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
    <figure>
        <img src="/img/refactorlogo.jpg" alt="Logo Refactor">
    </figure>
    <h1>LISTADO DE PRODUCTOS</h1>
    <br>
    <p>
        <a class="botonAgregar" href="/product/add">Agregar un Producto</a>
        <a class="botonVolver" href="/">Inicio</a>
    </p>
    <br>
    <ul>
        <% for( let i = 0; i < products.length; i++ ) { %>
        <li>
            <a href="/product/detail/<%= products[i].id %>"><%= products[i].name %></a>
        </li>
        <% } %>
    </ul>
</body>

</html>