<%- include('../partials/head')  %>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="create-edit-button-container">
            <a href="/product/product-create-form"><button type="submit" class="create-button">CREAR PRODUCTO</button></a>
            <a href="/product/product-edit-list"><button type="submit" class="edit-button">EDITAR PRODUCTO</button></a>
            <!-- <a href="#"><button type="submit" class="productApi-button">LISTADO PRODUCTOS</button></a> -->
            <!-- <a href="#"><button type="submit" class="userApi-button">LISTADO USUARIOS</button></a> -->
        </div>
    </div>         

    </main>
</body>
</html>
 