<!-- HEADER -->

<header>
    <div class="main-header">
        <div class="top-header">
            <div class="hamburger-search">
                <button id="hamburger"><i class="fas fa-bars"></i></button>
                <i class="fas fa-search"></i>
            </div>

            <div class="leftMenu" id="leftMenu">
                <button id="close-button" class="">Close &times;</button>
                <a href="/">INICIO</a>
                <a href="/product/products">PRODUCTOS</a>
                <a href="/enConstruction">OFERTAS</a>
                <a href="/enConstruction">CATEGORIAS</a>
                <a href="/team">TEAM</a>
            </div>

            <div class="main-logo">
                <a href="/"><img src="/images/refactorlogo.jpg" alt="refactorlogo"></a>
            </div>

            <div class="search-form-container">
                    <form class="search-form" METHOD=GET ACTION="/result" role="search"><INPUT TYPE="text" placeholder="Que estas buscando?" NAME="search"><i class="fas fa-search"></i></form>
                    <!-- <input type="text" name="" id="" placeholder="Encontrame Aqui!!"> -->
            </div>          

            <div class="usuario">
                <div class="login-menu">
                    <% if (locals.isLogged) { %>
                        <div class="user-button"><a href="/user/login"><i class="fas fa-user"></i></a></div>
                    <% } else { %>
                        <div class="login-register">
                            <a href="/user/login" class="loginlink">Loguearse</a>
                            <a href="/user/register" class="registerlink">Registrarse</a>
                        </div>
                    <% } %>
                    <div class="cart-button"><a href="/cart"><i class="fas fa-shopping-cart"></i></a></div>
                </div>
            </div>
        </div>
    </div>

    <div class="anuncios">
                <h3 class="anuncio">Envio gratis en compras mayores a $6.500,-</h3>
    </div>
    <div class="marquesina">
        <marquee><em><span>EL EQUIPO REFACTORS TE DESEA UNA AGRADABLE VISITA!!!!</span></em></marquee>
    </div>
    <!-- PROBANDO OTRA BARRA CON JAVA -->
    <!-- <div id="tab" class="tab">
        <ul class="tab-item">
            <li class="tab-item">
                <a href="item-link" onclick="select(this)" href="/product/products">PRODUCTOS</a>
            </li>
            <li class="tab-item">
                <a href="item-link" onclick="select(this)" href="/enConstruction">OFERTAS</a>
            </li>
            <li class="tab-item">
                <a href="item-link" onclick="select(this)" href="/enConstruction">CATEGORIAS</a>
            </li>
            <li class="tab-item">
                <a href="item-link" onclick="select(this)" href="/team">TEAM</a>
            </li>
            <div class="tab-indicador"></div>
        </ul>
    </div> -->

    <div class="bottom-header">
        <div class="navigation">
            <nav class="desktop-nav">
                <ul class="nav-list">
                    <li class="nav-item"><a href="/product/products">PRODUCTOS</a></li>
                    <li class="nav-item"><a href="/enConstruction">OFERTAS</a></li>
                    <li class="nav-item"><a href="/enConstruction">CATEGORIAS</a></li>
                    <!-- <li class="nav-item"><a href="/enConstruction">SOBRE NOSOTROS</a></li> -->
                    <li class="nav-item"><a href="/team">TEAM</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- <script src="/js/headerValidator.js"></script> -->
    
</header>