<%- include('../partials/head')  %>

<body>
    <%- include('../partials/header')  %>
    <main class="redes">
        <!-- <div class="not-found-container"> -->
            <!-- <div class="not-found-title"> -->
                <!-- <h1 class="not-found">Página en construcción</h1> -->
            <!-- Recuadros 3d social media para -->
<!-- 
                <ul>
                    <li>
                    <a href="#">
                        <i class="fab fa-facebook" aria-hidden="true"></i>
                    </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-google-plus" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul> -->
                <div>
                    <ul> 
                      <li>
                        <a href="https://www.facebook.com/ripcurlargentina/?brand_redir=127130787367">
                          <span></span>
                          <span></span>
                          <span></span>
                          <span></span>
                          <span class="fa fa-facebook"></span>
                        </a> 
                      </li>
                      <li>
                        <a href="https://twitter.com/ripcurlarg">
                          <span></span>
                          <span></span>
                          <span></span>
                          <span></span>
                          <span class="fa fa-twitter"></span>
                        </a> 
                      </li>
                      <li>
                        <a href="https://www.instagram.com/ripcurl_usa/?hl=es">
                          <span></span>
                          <span></span>
                          <span></span>
                          <span></span>
                          <span class="fa fa-instagram"></span>
                        </a> 
                      </li>
                      <li>
                        <a href="/enConstruction">
                          <span></span>
                          <span></span>
                          <span></span>
                          <span></span>
                          <span class="fa fa-linkedin"></span>
                        </a> 
                        <li>
                            <a href="/enConstruction">
                              <span></span>
                              <span></span>
                              <span></span>
                              <span></span>
                              <span class="fa fa-whatsapp"></span>
                            </a> 
                      </li>
                      <li>
                        <a href="https://www.youtube.com/user/ripcurl">
                          <span></span>
                          <span></span>
                          <span></span>
                          <span></span>
                          <span class="fa fa-youtube"></span>
                        </a> 
                    </li>
                    <li>
                        <a href="/enConstruction">
                          <span></span>
                          <span></span>
                          <span></span>
                          <span></span>
                          <span class="fa fa-envelope"></span>
                        </a> 
                    </li>
                    </ul>  
                  </div> 
                
            <!-- </div> -->
            <!-- <div class="banner-img-elements"> -->
                <!-- <img src="/images/maintenance.png" alt="enConstruccion"> -->
            <!-- </div> -->
            <!-- <h2>La pagina que estas buscando se encuentra bajo desarrollo.</h2> -->
        <!-- </div> -->
    </main>
    <%- include('../partials/footer')  %>
</body>
</html>