<%- include('../partials/head')  %>

<body>
    <%- include('../partials/header')  %>
    <main class="redes">
        <!-- <div class="not-found-container"> -->
            <!-- <div class="not-found-title"> -->
                <!-- <h1 class="not-found">Página en construcción</h1> -->
                <ul>
                    <li>
                    <a href="#">
                        <i class="fab fa-facebook" aria-hidden="true"></i>
                    </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-google-plus" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
                
            </div>
            <!-- <div class="banner-img-elements"> -->
                <!-- <img src="/images/maintenance.png" alt="enConstruccion"> -->
            </div>
            <!-- <h2>La pagina que estas buscando se encuentra bajo desarrollo.</h2> -->
        </div>
    </main>
    <%- include('../partials/footer')  %>
</body>
</html>