<%- include('../partials/head')  %>

<body>
    <%- include('../partials/header')  %>
    <main>
        <div class="not-found-container">
            <div class="not-found-title">
                <h1 class="not-found">EQUIVALENCIA DE TABLAS</h1>
                
            </div>
            <div class="banner-img-elements tablas">
                <img src="/images/gt1.jpeg" alt="broken-skateboard">
            </div>
            <div class="banner-img-elements tablas">
                <img src="/images/gt2.jpeg" alt="broken-skateboard">
            </div>
            <div class="banner-img-elements tablas">
                <img src="/images/gt3.jpeg" alt="broken-skateboard">
            </div>
            <div class="banner-img-elements tablas">
                <img src="/images/gt4.jpeg" alt="broken-skateboard">
            </div>
            <h2>Busca tu talle, si tienes dudas, escribenos!!</h2>
        </div>
    </main>
    <%- include('../partials/footer')  %>
</body>
</html>