<%- include('../partials/head')  %>

<body>
    <%- include('../partials/header')  %>
    <main>
        <div class="not-found-container">
            <div class="not-found-title">
                
            </div>
            <div class="banner-img-elements banner-pagina">
                <img src="/images/banner308.jpg" alt="equipo">
            </div>
        </div>
    </main>
    <%- include('../partials/footer')  %>
</body>
</html>