<%- include('../partials/head')  %>

<body>
    <%- include('../partials/header')  %>
    <main>
        <div class="not-found-container">
            <div class="not-found-title">
                <h1 class="not-found">Busca tu local mas cercano!!</h1>
                
            </div>
            <div class="not-found-image">
                <img src="/images/ubicanos.png" alt="broken-skateboard">
                <h2>Si tenes dudas, escribinos a nuestras redes, te esperamos!!</h2>
            </div>
        </div>
    </main>
    <%- include('../partials/footer')  %>
</body>
</html>