<%- include('../partials/head')  %>

<body>
    <%- include('../partials/header')  %>
    <main>
        <div class="not-found-container">
            <div class="not-found-title">
                <h1 class="not-found">EQUIVALENCIA DE TALLES</h1>
                
            </div>
            <div class="not-found-image">
                <img src="/images/product-images/medidas_nuevas_NINOS.jpg" alt="broken-skateboard">
                <img src="/images/product-images/medidas_nuevas_MUJER.jpg" alt="broken-skateboard">
                <img src="/images/product-images/medidas_nuevas_hombre.jpg" alt="broken-skateboard">
                <img src="/images/product-images/medidas_nuevas_CALZADO.jpg" alt="broken-skateboard">
                <h2>Busca tu talle, si tienes dudas, escribenos!!</h2>
            </div>
        </div>
    </main>
    <%- include('../partials/footer')  %>
</body>
</html>