*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FFFFFF;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section {
    padding: 20px;
}

main section article img{
    width: 100%;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

main section div.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

main section div.products article{
    width: 45%;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

.top-header {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    border-bottom: 1px solid lightgray;
    background-color: #EFEFEF;
    text-align: center;
}

.usuario div {
    display: block;
    font-size: 12px;
    padding: 0px;
}

.usuario div a {
    text-decoration: none;
    color: black;
    padding: 5px;
}

.logo-header, .footer-logo {
    max-width: 200px;
    max-height: 36.5px;
}

.bottom-header {
    display: none;
}

.search {
    width: 100%;
    display: flex;
    padding: 10px;
}

.searchTerm {
    width: auto;
    padding: 3px;
    height: 20px;
    outline: none;
    border: none;
    border-bottom: #777777 1px solid;
}

.searchButton{
    border: none;
    background-color: white;
    color: #777777;
}

footer {
    text-align:center;
    padding: 15px;
    border-top: 1px solid lightgray;
    background-color: #EFEFEF;
}

footer div {
    padding: 10px;
}


div.destacados,
div.ofertas{
    display: flex;
    flex-wrap: wrap;
}

.price{
    font-size: 18px;
    width: 30%;
}

.discount{
    width: 70%;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

@media (min-width: 361px) {
    
}