*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FFFFFF;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section {
    padding: 20px;
}

main section article img{
    width: 100%;
}

.desktop-header {
    display:none;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

main section div.productos-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

main section div.productos-container article{
    cursor: pointer;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

.mobile-header {
    display: block;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.table-row {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.mobile-header-logo {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid rgba(51, 62, 72, 0.1);
}

.usuario-container {
    padding: 5px;
}

.usuario-container div {
    display: block;
    font-size: 12px;
    padding: 0px;
}

.usuario-container div a {
    text-decoration: none;
    color: black;
    padding: 5px;
}

.logo-header, .footer-logo {
    max-width: 200px;
    max-height: 36.5px;
}


footer {
    text-align:center;
    padding: 15px;
    border-top: 1px solid lightgray;
    background-color: #EFEFEF;
}

footer div {
    padding: 10px;
}


div.destacados,
div.ofertas{
    display: flex;
    flex-wrap: wrap;
}

.price{
    font-size: 18px;
    width: 30%;
}

.discount{
    width: 70%;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

.destacados-container {
    display: flex;
    width: auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.discount {
    padding-left: 15px;
}

.titulo-separador {
    border-bottom: 1px solid #bfada3c7;
    padding: 5px;
}


@media (min-width: 361px) {
    .productos-container article {
        width: 45%;
    }
}
/* Login/Register */

.hero{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("/images/banner.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    text-align: center;
    background: #fff;
    padding: 5px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
    overflow: hidden;
}

.button-box{
    width: 300px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 180px;
    height: 100%;
    background: linear-gradient(to right, #BFADA3, #BFADA3);
    border-radius: 30px;
    transition: .5s;

}

.input-group{
    top: 130px;
    position: absolute;
    width: 280px;
    transition: .5s;

}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;

}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right,#BFADA3, #BFADA3);
    border: 0;
    outline: none;
    border-radius: 30px;

}

.check-box{
    margin: 30px 10px 30px 0;
}

.spanlogin{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login{
    left: 50px;
}

#register{
    left: 450px;
}





/* -- Detalles de productos -- */
   
    .row{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .col-2{
        flex-basis: 50%;
        min-width: 300px;
    }
    
    .col-2 img{
        max-width: 100%;
        padding: 50px 0;
    }
    
    .col-2 h1{
        font-size: 50px;
        line-height: 60px;
        margin: 25px 0;
    }
    
    .col-3{
        flex-basis: 30%;
        min-width: 250px;
        margin-bottom: 30px;
    }
    
    .col-3 img{
        width: 100%
    }
    
    .small-container{
        max-width: 1080px;
        margin: auto;
        padding: 25px;
    }
    
    .btn{
        display: inline-block;
        background: #BFADA3;
        color: #fff;
        padding: 8px 30px;
        margin: 30px 0;
        border-radius: 30px;
    }
    
    .single-product{
        margin-top: 80px;
    }
    
    .single-product .col-2 img{
        padding: 0;
    }
    
    .single-product .col-2{
        padding: 20px;
    }
    
    .single-product h4{
        margin: 20px 0;
        font-size: 22px;
        font-weight: bold;
    }
    
    .single-product select{
        display: block;
        padding: 10px;
        margin-top: 20px;
    }
    
    .single-product input{
        width: 50px;
        height: 40px;
        padding-left: 10px;
        font-size: 20px;
        margin-right: 10px;
        border: 1px solid #BFADA3;
    }
    
        input:focus{
            outline: none;
        }
    
        .small-img-row{
            display: flex;
            justify-content: space-between;
        }
    
        .small-img-col{
            flex-basis: 24%;
            cursor: pointer;
        }
    
    
    }

    /* ---------- items del carrito css ------------- */

.cart-page{
    margin: 80px auto;
}

table{
    width: 100%;
    border-collapse: collapse;

}

.cart-info{
    display: flex;
    flex-wrap: wrap;

}

th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #BFADA3;
    font-weight: normal;
}

td{
    padding: 10px 5px;
}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a{
    color:#BFADA3;
    font-size: 12px;
}

td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price{
    display: flex;
    justify-content: flex-end;

}

.total-price table{
    border-top: 3px solid #BFADA3;
    width: 100%;
    max-width: 400px;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}


@media (min-width: 769px) {
    
    /* header */

    .mobile-header {
        display: none;
    }

    /* header */
    .desktop-header {
        display: block;
    }

    .logo-header {
        width: 150px;
    }

    .top-bar {
        border-bottom: 1px solid rgba(51, 62, 72, 0.1);
    }

    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .table-row {
        width: 100%;
        margin: 0 auto;
        padding: 4px 0;
        align-items: center;
        justify-content: space-between;
        display: flex;
    }

    .list-inline {
        margin: 0;
        padding-left: 0;
        list-style: none;
    }

    .top-bar .table-row .list-inline li {
        line-height: 28px;
        font-size: 13px;
        padding: 0 15px;
        position: relative;
        color: #333e48;
        vertical-align: middle;
        cursor: pointer;
    }

    .top-bar .table-row .list-inline  li  i {
        font-size: 14px;
        margin: 0;
        margin-inline-end: 5px;
    }

    .list-inline li {
        margin: 0;
        display: inline-block;
    }

    .top-bar-right {
        text-align: end;
    }

    .top-bar-right a {
        outline: none;
        text-decoration: none;
        transition: 0.5s;
        color: #333e48;
    }

    .top-bar-right li a:hover {
        color: #BFADA3;
    }

    .header-main{
        padding-top: 22px;
        padding-bottom: 22px;
        border-bottom: 1px solid rgba(51, 62, 72, 0.1);
        padding: 32px 0;
    }

    .header-logo img {
        max-width: 200px;
        height: auto;
        border: none;
        vertical-align: middle;
    };

    .header-search-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
    }

    .searchbox {
        padding: 0;
        flex: 1;
        margin-inline-end: 32px;
    }

    .navbar-formsearch {
        margin: 0;
        padding: 0;
        display: block;
        height: 42px;
        background: white;
        position: relative;
        border: 2px solid #BFADA3;
        box-shadow: 0 0 0 white;
        -webkit-border-radius: 25px 25px 25px 25px;   
    }

    .product-search {
        width: 100%;
        height: 38px;
        border: none;
        line-height: 18px;
        text-transform: none;
        padding: 10px 30px;
        padding-inline-end: 60px;
        -webkit-border-radius: 25px 25px 25px 25px; 
    }

    .search-icon {
        position: absolute;
        display: block;
        top: -2px;
        right: -3px;
        z-index: 3;
        width: 60px;
        min-width: 60px;
        height: 42px;
        text-align: center;
        line-height: 42px;
        padding: 0;
        margin: 0;
        border: none;
        background: #BFADA3;
        color: white;
        border-radius: 25px;
    }

    .cart-menu a {
        color: black;
        text-decoration: none;
        transition: 0.5s;
    }

    .cart-menu:hover a {
        color: #BFADA3;
    }

    /* header */

    main section article {
        transition: 0.5s;
    }

    main section div.productos-container article {
        width: 22%;
    }

    .productos-container article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .searchbox {
        width: 500px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .searchbox {
        width: 700px;
    }
}